.ex7 {
    background-color: lightcoral;

    .dasList {


        li {

            list-style: none;
            padding: 10px;
            background-color: white;


            span {

                padding: 8px;
                margin: 5px;
                border-radius: 5px;


            }

        }
    }
}